<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Catalogue>
            <version>1.0.1</version>
        </Dtn_Catalogue>
    </modules>
    <global>
        <resources>
            <dtn_catalogue_setup>
                <setup>
                    <module>Dtn_Catalogue</module>
                    <class>Dtn_Catalogue_Model_Resource_Setup</class>
                </setup>
            </dtn_catalogue_setup>
        </resources>
        <blocks>
            <dtn_catalogue>
                <class>Dtn_Catalogue_Block</class>
            </dtn_catalogue>
        </blocks>
        <helpers>
            <dtn_catalogue>
                <class>Dtn_Catalogue_Helper</class>
            </dtn_catalogue>
        </helpers>
        <models>
            <dtn_catalogue>
                <class>Dtn_Catalogue_Model</class>
                <resourceModel>dtn_catalogue_resource</resourceModel>
            </dtn_catalogue>
            <dtn_catalogue_resource>
                <class>Dtn_Catalogue_Model_Resource</class>
                <entities>
                    <catalogue>
                        <table>dtn_vendor_catalog</table>
                    </catalogue>
                </entities>
            </dtn_catalogue_resource>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <dtn_catalogue>
                    <file>dtn_catalogue.xml</file>
                </dtn_catalogue>
            </updates>
        </layout>
        <routers>
            <dtn_catalogue>
                <use>standard</use>
                <args>
                    <module>Dtn_Catalogue</module>
                    <frontName>catalogue</frontName>
                </args>
            </dtn_catalogue>
        </routers>
    </frontend>
</config>
